<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dhenupa.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <user-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.dhenupa.application.DhenupaApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddDonorActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".dummy.DonrListDetails"
            android:label="@string/title_activity_donr_list_details" >
        </activity>
        <activity
            android:name=".ActivityDonerDetailsLayout"
            android:label="@string/title_activity_donor_details_layout" >
        </activity>

        <service
            android:name="com.dhenupa.service.SyncService"
            android:exported="false" >
        </service>

        <activity
            android:name=".DonorListActivity"
            android:label="@string/title_activity_donor_list" >
        </activity>

        <receiver android:name="com.dhenupa.network.NetworkChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.dhenupa.service.PaymentReminderService"
            android:exported="false" >
        </service>

        <receiver android:name="com.dhenupa.scheduler.SampleAlarmReceiver" />
        <receiver
            android:name="com.dhenupa.scheduler.SampleBootReceiver"
            android:enabled="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name="com.dhenupa.scheduler.SampleSchedulingService" />
        <service
            android:name="com.dhenupa.service.OfflineDBSyncService"
            android:exported="false" >
        </service>

        <activity
            android:name=".UpdatePaymentHistoryActivity"
            android:label="@string/title_activity_update_payment_history" >
        </activity>
        <activity
            android:name=".GetPaymentActivity"
            android:label="@string/title_activity_get_payment" >
        </activity>
        <activity
            android:name=".ReminderActivity"
            android:label="@string/title_activity_reminder" >
        </activity>
    </application>

</manifest>
